@import 'utils/functions';
@import 'utils/placeholders';

.expence-item {
  display: flex;
  margin-bottom: rem(30);

  &:last-of-type {
    margin-bottom: 0;
  }

  &.delete-mode {
    cursor: pointer;
    user-select: none;
  }

  &__icon {
    background-color: var(--color-background-green);
    border-radius: 50%;
    margin-right: rem(20);
    max-height: rem(60);
    max-width: rem(60);
    min-height: rem(60);
    min-width: rem(60);
    position: relative;

    svg {
      fill: var(--color-panel-default);
      height: 60%;
      position: absolute;
      width: 60%;
      @extend %center-all
    }
  }

  &__category {
    color: var(--color-text-darker-grey);
    margin-bottom: rem(5);
    font: {
      size: rem(16);
      weight: 400;
    }
  }

  &__name {
    margin-bottom: rem(7);
    font: {
      size: rem(18);
      weight: 500;
    }
  }

  &__amount {
    font: {
      size: rem(20);
      weight: 700;
    }
  }

  &__checkbox {
    align-self: center;
    margin: {
      left: auto;
      right: rem(20);
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked + &-wrapper {
      background-color: var(--color-background-green);
      border-color: var(--color-background-green);

      svg {
        opacity: 1;
      }
    }

    &-wrapper {
      align-items: center;
      border: rem(1) solid var(--color-background-default);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      padding: rem(5);
      transition: 0.2s;

      svg {
        fill: var(--color-text-white);
        height: rem(12);
        opacity: 0;
        transition: 0.2s;
        width: rem(12);
      }
    }
  }
}
