@import 'utils/functions';

.expence-day {
  background-color: var(--color-panel-default);
  border-radius: 0 0 rem(14) rem(14);
  margin-bottom: rem(20);
  padding: rem(20) rem(15) rem(30);

  &:not(:only-of-type):last-of-type {
    border-radius: 0;
    margin-bottom: 0;
  }

  &__date {
    margin-bottom: rem(30);
    font: {
      size: rem(20);
      weight: 700;
    }
  }
}
